<h1> Average Comedian Age: <%= @comedians.average('age').round %> </h1>

<h1> ------------------------------------------------------------ </h1>

<% @comedians.each do |comedian| %>
  <h2> Comedian: <%= comedian.name %> | Age: <%= comedian.age %> </h2>
  <h3> Number of Specials:
    <%= comedian.specials.count %>
  </h3>
  <h3> Specials: </h3>
  <% comedian.specials.each do |special| %>
    <p> <%= special.name %> </p>
  <% end %>
<% end %>
